extends layout

block content
    h1 Ask for picure
    p.lead Click the button to ask the RPI for a picture.
    p
    h3 #{message}
      a.btn.btn-primary.btn-large(href='/image') Ask for an image &raquo;